@model EntityLayer.Concrete.Portfolio

@{
    ViewData["Title"] = "AddPortfolio";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div >
    <h3 class="mb-0">Add Portfolio</h3>
</div>
<form class="form-control" method="post">
    <br />
    <br />
    <br />
    <br />

    @Html.Label("Project Name:")
    <br />
    @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.Name)
    <br />
    @Html.Label("Project URL:")
    <br />
    @Html.TextBoxFor(x => x.ProjectURL, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.ProjectURL)
    <br />
    @Html.Label("Small Image URL:")
    <br />
    @Html.TextBoxFor(x => x.ImageURL, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ImageURL)
    <br />
    @Html.Label("Large Image URL:")
    <br />
    @Html.TextBoxFor(x => x.ImageURL2, new { @class = "form-control" })
    @Html.ValidationMessageFor(x=>x.ImageURL2)
    <br />
    <button class="btn btn-primary" id="btnAdd"> Add Portfolio</button>
</form>


