@using EntityLayer.Concrete
@model List<Skill>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Skill List Table</h3>
</div>
<!-- Light table -->
<div class="table-responsive">
    <table class="table align-items-center table-flush">
        <thead class="thead-bold">
            <tr>
                <th scope="col" class="sort" data-sort="name">#</th>
                <th scope="col" class="sort" data-sort="budget">Title</th>
                <th scope="col" class="sort" data-sort="completion">Level</th>
                <th scope="col">Actions</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody class="list">
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">
                        <div class="media align-items-center">        
                            <div class="media-body">
                                <strong> <span class="name mb-0 text-sm">@item.SkillID</span></strong>
                            </div>
                        </div>
                    </th>
                    <td class="budget">
                        @item.Title
                    </td>
                   @*  <td>
                        <span class="badge badge-dot mr-4">
                            <i class="bg-warning"></i>
                            <span class="status">@item.Value</span>
                        </span>
                    </td> *@            
                    <td>
                        <div class="d-flex align-items-center">
                            <span class="completion mr-2">@item.Value%</span>
                            <div>
                                <div class="progress">
                                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="@item.Value" aria-valuemin="0" aria-valuemax="100" style="width: @item.Value%;"></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="avatar-group">
@*                           <a href="/Skill/DeleteSkill/@item.SkillID" class="btn btn-danger" id="btnDelete"> Delete</a>
 *@                            @Html.ActionLink("Delete", "DeleteSkill", new { id=item.SkillID }, new { @class = "btn btn-danger", onclick="return confirm ('Do you                                 really want to delete it?')" })
                            <a href="/Skill/UpdateSkill/@item.SkillID" class="btn btn-primary"> Update</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="dropdown">
                            <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    
    <a href="/Skill/AddSkill/" class="btn btn-success"> <i class="ni ni-collection"> Add New Skill</i></a>
</div>

