@using EntityLayer.Concrete
@model List<About>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}
<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">About List Table</h4>
                <p class="card-description">
                    Add class <code>.table-bordered</code>
                </p>
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th >#</th>
                                <th >Title</th>
                                <th >Description</th>
                                <th >Age</th>
                                <th >Mail</th>
                                <th >Address</th>
                                <th >Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                          
                            <tr>
                                <td> @item.AboutID </td>
                                <td> @item.Title </td>
                                <td> @item.Description  </td>
                                <td> @item.Age  </td>
                                <td> @item.Mail  </td>
                                <td> @item.Phone</td>
                                <td> @item.Address</td>
                                    <td>
                                        <div class="avatar-group">
                                            <a href="/About/UpdateAbout/@item.AboutID" class="btn btn-primary"> Update</a>
                                        </div>
                                    </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>