@using EntityLayer.Concrete
@model List<Experience>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="row">

    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Experience List Table</h4>
          @*       <p class="card-description">
                    Add class <code>.table-bordered</code>
                </p> *@
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Date</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td> @item.ExperienceID </td>
                                    <td> @item.Name </td>
                                    <td> @item.Date  </td>
                                    <td> @item.Description  </td>
                                    <td>
                                        <div class="avatar-group">
                                                @Html.ActionLink("Delete", "DeleteExperience", new { id = item.ExperienceID }, new { @class = "btn btn-danger", onclick = "return confirm ('Do you really want to delete it?')" })
                                            <a href="/Experience/UpdateExperience/@item.ExperienceID" class="btn btn-primary"> Update</a>
                                        </div>
                                    </td>
                                    
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <a href="/Experience/AddExperience/" class="btn btn-success">  Add New Experience</a>
</div>

